[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
karaokeizer = { git = 'https://github.com/valrus/karaokeizer.git', ref = 'main' }
google_cloud_storage = "*"

[dev-packages]
pipenv = "*"
ipython = "*"

[requires]
python_version = "3.8"
